---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
interface Props {
	href: string;
	img: ImageMetadata;
	trailerGif?: ImageMetadata;
	trailerVideo?: string;
}

const { href, img, trailerGif, trailerVideo } = Astro.props;
---

<div class="film">
	<a href={href}>
		<!-- TODO: можно сделать оптимизацию под разные ширины -->
		<!-- Можно оптимизировать загрузку шрифта -->
		<!-- настроить на сервере кэш -->
		<Image class="static-image" loading="lazy" alt={href} src={img} />
		<!-- можно со звуком??? -->
		<video
			class="animated-image"
			muted
			loop
			autoplay
			webkit-playsinline
			playsinline
		>
			<source
				src={`/${import.meta.env.PUBLIC_TRAILER_VIDEOS_PATH}/${trailerVideo}`}
				type="video/mp4"
			/>
		</video>
		<!-- <Image
			class="animated-image"
			loading="lazy"
			alt={href}
			src={trailerGif}
			quality={5}
		/> -->
		<div></div>
	</a>
</div>

<script>
	const containers = document.querySelectorAll(`.film`);

	containers.forEach((container) => {
		try {
			const animatedImg =
				container.querySelector<HTMLVideoElement>(".animated-image");
			container.addEventListener("mouseenter", function () {
				console.log("mousenter");
				animatedImg.style.visibility = "visible";
			});
			container.addEventListener("mouseleave", function () {
				console.log("mouseleave");
				animatedImg.style.visibility = "hidden";
			});
			animatedImg.muted = true;
			animatedImg.play();
		} catch (err) {
			console.error(err);
		}
	});
</script>

<style>
	.film {
		position: relative;
	}
	.static-image {
		height: 100%;
		object-fit: cover;
		transition: opacity 0.3s ease;
	}

	.animated-image {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		visibility: hidden;
		object-fit: cover;
		transition: opacity 0.3s ease;
		controls: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		@media (hover: none) {
			visibility: visible;
		}
	}
	.animated-image::-webkit-media-controls,
	.animated-image::-webkit-media-controls-start-playback-button,
	.animated-image::-webkit-media-controls-panel,
	.animated-image::-webkit-media-controls-overlay-play-button,
	.animated-image::-webkit-media-controls-play-button,
	.animated-image::-webkit-media-controls-volume-slider,
	.animated-image::-webkit-media-controls-mute-button,
	.animated-image::-webkit-media-controls-timeline,
	.animated-image::-webkit-media-controls-current-time-display,
	.animated-image::-webkit-media-controls-time-remaining-display,
	.animated-image::-webkit-media-controls-fullscreen-button,
	.animated-image::-webkit-media-controls-rewind-button,
	.animated-image::-webkit-media-controls-return-to-realtime-button,
	.animated-image::-webkit-media-controls-toggle-closed-captions-button {
		display: none !important;
	}
</style>
