---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
interface Props {
	href: string;
	img: ImageMetadata;
	trailerGif?: ImageMetadata;
	trailerVideo?: string;
}

const { href, img, trailerGif, trailerVideo } = Astro.props;
---

<div class="film">
	<a href={href}>
		<!-- TODO: можно сделать оптимизацию под разные ширины -->
		<!-- Можно оптимизировать загрузку шрифта -->
		<!-- настроить на сервере кэш -->
		<Image class="static-image" loading="lazy" alt={href} src={img} />
		<!-- можно со звуком??? -->
		<video
			class="animated-image"
			muted
			loop
			autoplay
			webkit-playsinline
			playsinline
		>
			<source
				src={`/${import.meta.env.PUBLIC_TRAILER_VIDEOS_PATH}/${trailerVideo}`}
				type="video/mp4"
			/>
		</video>
		<!-- <Image
			class="animated-image"
			loading="lazy"
			alt={href}
			src={trailerGif}
			quality={5}
		/> -->
		<div></div>
	</a>
</div>

<script>
	const containers = document.querySelectorAll(`.film`);

	containers.forEach((container) => {
		const animatedImg = container.querySelector<HTMLElement>(".animated-image");
		container.addEventListener("mouseenter", function () {
			console.log("mousenter");
			animatedImg.style.visibility = "visible";
		});
		container.addEventListener("mouseleave", function () {
			console.log("mouseleave");
			animatedImg.style.visibility = "hidden";
		});
	});
</script>

<style>
	.film {
		position: relative;
	}
	.static-image {
		height: 100%;
		object-fit: cover;
		transition: opacity 0.3s ease;
	}

	.animated-image {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		visibility: hidden;
		object-fit: cover;
		transition: opacity 0.3s ease;
		@media (hover: none) {
			visibility: visible;
		}
	}
</style>
